swagger: "2.0"
info:
  title: Lilt REST API
  version: v2.0
  contact:
    name: Lilt REST API Support
    url: "https://lilt.com/docs/api"
    email: support@lilt.com
  description: |
    The Lilt REST API enables programmatic access to the full-range of Lilt backend services including:
      * Training of and translating with interactive, adaptive machine translation
      * Large-scale translation memory
      * The Lexicon (a large-scale termbase)
      * Programmatic control of the Lilt CAT environment
      * Translation memory synchronization

    Requests and responses are in JSON format. The REST API only responds to HTTPS / SSL requests.

    ## Authentication

    Requests are authenticated via REST API key, which requires the Business plan.

    Requests are authenticated using [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Add your REST API key as both the `username` and `password`.

    For development, you may also pass the REST API key via the `key` query parameter. This is less secure than HTTP Basic Auth, and is not recommended for production use.

    ## Quotas

    Our services have a general quota of 4000 requests per minute. Should you hit the maximum requests per minute, you will need to wait 60 seconds before you can send another request.

host: lilt.com
basePath: /2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  BasicAuth:
    type: basic
  ApiKeyAuth:
    type: apiKey
    in: query
    name: key
security:
  - ApiKeyAuth: []
  - BasicAuth: []
tags:
  - name: Workflows
    description: These endpoints are only relevant if Lilt Workflows are enabled for your organization. Any other Workflow related topics you notice within these docs will also only be relevant for a Workflows enabled organization.
paths:
  /:
    get:
      description: |+
        This resource does not have any attributes. It lists the name of the
        REST API.

        This endpoint can be used to verify REST API keys and to check the
        availability of the REST API.

      operationId: root
      parameters: []
      responses:
        "200":
          description: A status object.
          schema:
            title: ApiRoot
            type: object
            properties:
              api_name:
                type: string
                example: Lilt REST API v2
              api_root:
                type: string
                example: /2
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve the REST API root
      tags:
        - Root
  /files:
    get:
      description: |-
        Retrieves one or more files available to your user. Files are not associated with a project or a memory. They are unprocessed and can be used later in the project/document creation workflow step.

        To retrieve a specific file, specify the <strong>id</strong> request parameter. To retrieve all files, omit the <strong>id</strong> request parameter.

        Example CURL command:
        ```
         curl -X GET https://lilt.com/2/files?key=API_KEY&id=274```
      operationId: getFiles
      parameters:
        - description: A unique File identifier.
          in: query
          name: id
          required: false
          type: integer
        - description: |+
            One or more labels. This will return the files which contain all of
            the given labels.
          in: query
          name: labels
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      produces:
        - application/json
      responses:
        "200":
          description: A list of files.
          schema:
            title: FilesList
            type: array
            items:
              $ref: "#/definitions/SourceFile"
        "403":
          description: User does not have permission for provided file.
        "410":
          description: File deleted.
        default:
          description: Unexpected error.
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a File
      tags:
        - Files
    post:
      description: |+
        Upload a File in any of the formats [documented in our knowledge
        base](https://support.lilt.com/hc/en-us/articles/360020816253-File-Formats).
        Request parameters should be passed in as query string parameters.

        Example CURL command:
        ```
          curl -X POST https://lilt.com/2/files?key=API_KEY&name=en_US.json \
          --header "Content-Type: application/octet-stream" \
          --data-binary @en_US.json
        ```
        Calls to GET /files are used to monitor the language detection results. The API response will be augmented to include detected language and confidence score.

        The language detection will complete asynchronously. Prior to completion, the `detected_lang` value will be `zxx`, the reserved ISO 639-2 code for "No linguistic content/not applicable".

        If the language can not be determined, or the detection process fails, the `detected_lang` field will return `und`, the reserved ISO 639-2 code for undetermined language, and the `detected_lang_confidence` score will be `0`.

      operationId: uploadFile
      consumes:
        - application/octet-stream
      parameters:
        - description: A file name.
          in: query
          name: name
          required: true
          type: string
        - description: A hash value to associate with the file. The MD5 hash of the body contents will be used by default if a value isn't provided.
          in: query
          name: file_hash
          required: false
          type: string
        - description: Flag indicating whether to perform language detection on the uploaded file. Default is false.
          in: query
          name: langId
          required: false
          type: boolean
        - description: The project to associate the uploaded file with.
          in: query
          name: project_id
          required: false
          type: integer
        - description: The category of the file. The options are `REFERENCE`, or `API`. The default is API. Files with the `REFERENCE` category will be displayed as reference material.
          in: query
          name: category
          required: false
          type: string
        - description: Comma-separated list of labels to add to the uploaded document.
          in: query
          name: labels
          required: false
          type: string
        - in: body
          name: body
          description: The file contents to be uploaded. The entire POST body will be treated as the file.
          required: true
          schema:
            title: FileUploadBody
            type: string
            format: binary
            example: |-
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <xliff xmlns="urn:oasis:names:tc:xliff:document:1.2">
              ...
              </xliff>
      responses:
        "201":
          description: A SourceFile object.
          schema:
            $ref: "#/definitions/SourceFile"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Upload a File
      tags:
        - Files
    delete:
      description: |+
        Delete a File.

        Example CURL command:
        ```
          curl -X DELETE https://lilt.com/2/files?key=API_KEY&id=123 ```

      operationId: deleteFile
      parameters:
        - description: A unique File identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "204":
          description: A status object.
          schema:
            title: FileDeleteResponse
            type: object
            properties:
              id:
                description: A unique File identifier.
                type: integer
                example: 12345
              deleted:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a File
      tags:
        - Files
  /files/download:
    get:
      description: |+
        Download a File.

        Example CURL:
        ```
        curl --X --request GET 'https://lilt.com/2/files/download?key=API_KEY&id=1'
        ```
      operationId: download
      parameters:
        - description: A File id.
          in: query
          name: id
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        "200":
          description: A file.
          schema:
            title: DocumentDownloadResponse
            type: string
            format: byte
      summary: Download file
      tags:
        - Files
  /files/labels:
    post:
      description: |+
        Add a label to a File.

        Example CURL:
        ```
        curl --X --request POST 'https://lilt.com/2/files/labels?key=API_KEY&id=1'
        --header 'Content-Type: application/json' \
        --data-raw '{
            "name": "label_name"
        }'
        ```
      operationId: addLabel
      parameters:
        - description: A File id.
          in: query
          name: id
          required: true
          type: string
        - description: A label name.
          in: body
          name: name
          required: true
          schema:
            title: AddFileLabelRequest
            type: object
            properties:
              name:
                description: The Label name.
                type: string
                example: label_name
      responses:
        "204":
          description: A success response.
      summary: Add Label to File
      tags:
        - Files
    delete:
      description: |+
        Remove a label from a File.

        Example CURL:
        ```
        curl --X --request DELETE 'https://lilt.com/2/files/labels?key=API_KEY&id=1&name=label_name'
        ```
      operationId: removeLabel
      parameters:
        - description: A File id.
          in: query
          name: id
          required: true
          type: string
        - description: A label name.
          in: query
          name: name
          required: true
          type: string
      responses:
        "204":
          description: A success response.
      summary: Remove Label from File
      tags:
        - Files
  /comments:
    get:
      description: |+
        Retrieves all comments associated with a specified document, grouped by their Segment's ID.

        To retrieve a document's comments, specify the <strong>document_id</strong> request parameter.

        Example CURL command:
        ```
          curl -X GET https://lilt.com/2/comments?key=API_KEY&document_id=123
        ```
      operationId: getDocumentComments
      parameters:
        - description: A unique document identifier.
          in: query
          name: document_id
          required: true
          type: integer
      responses:
        "200":
          description: An object containing lists of comments identified by the id of the segment to which they belong.
          schema:
            $ref: "#/definitions/DocumentComments"
        "403":
          description: User does not have permission for provided document.
        "410":
          description: Comment deleted.
        default:
          description: Unexpected error.
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a document's comments by segment
      tags:
        - Comments
    post:
      description: |-
        Create a new comment for the specified Segment ID.
      operationId: createComment
      consumes:
        - application/json
      parameters:
        - description: A unique document identifier.
          in: query
          name: document_id
          required: true
          type: integer
        - description: A unique segment identifier.
          in: query
          name: segment_id
          required: true
          type: integer
        - in: body
          name: body
          description: The comment being created
          required: true
          schema:
            $ref: "#/definitions/CommentBody"
      responses:
        "201":
          description: A Comment object.
          schema:
            $ref: "#/definitions/Comment"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Create a new comment
      tags:
        - Comments
    put:
      description: |-
        Update an existing comment.
      operationId: updateComment
      consumes:
        - application/json
      parameters:
        - description: A unique comment identifier.
          in: query
          name: comment_id
          required: true
          type: integer
        - description: A unique document identifier.
          in: query
          name: document_id
          required: true
          type: integer
        - in: body
          name: body
          description: The comment being updated.
          required: true
          schema:
            $ref: "#/definitions/CommentBody"
      responses:
        "201":
          description: A Comment object.
          schema:
            $ref: "#/definitions/Comment"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Update an existing comment
      tags:
        - Comments
    delete:
      description: |+
        Delete a Comment.

        Example CURL command:
        ```
          curl -X DELETE https://lilt.com/2/comments?key=API_KEY&comment_id=123
        ```
      operationId: deleteComment
      parameters:
        - description: A unique Comment identifier.
          in: query
          name: comment_id
          required: true
          type: integer
      responses:
        "204":
          description: A status object.
          schema:
            title: CommentDeleteResponse
            type: object
            properties:
              id:
                description: A unique Comment identifier.
                type: integer
                example: 12345
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a Comment
      tags:
        - Comments
  /connectors:
    get:
      description: |-
        Retrieves one or more connectors available to your user. Connectors are not associated with a project or a memory.

        To retrieve a specific connector, specify the <strong>id</strong> request parameter. To retrieve all connectors, omit the <strong>id</strong> request parameter.

        Example CURL command:
        ```
         curl -X GET https://lilt.com/2/connectors?key=API_KEY&id=274```
      operationId: getConnectors
      parameters:
        - description: A unique Connector identifier.
          in: query
          name: id
          required: false
          type: integer
      responses:
        "200":
          description: A list of Connectors.
          schema:
            title: ConnectorsList
            type: array
            items:
              $ref: "#/definitions/Connector"
        "403":
          description: User does not have permission for provided connector.
        "410":
          description: Connector deleted.
        default:
          description: Unexpected error.
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Connector
      tags:
        - Connectors
    post:
      description: |+
        Create a new connector linked to a supported external cms.
      operationId: createConnector
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Connector arguments.
          required: true
          schema:
            title: connector
            type: object
            properties:
              name:
                description: Name of connector.
                type: string
              args:
                description: Connector parameters.
                type: object
              schedule:
                description: Cron string
                type: string
                example: "0 0 * * *"
      responses:
        "201":
          description: A Connector object.
          schema:
            $ref: "#/definitions/Connector"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Upload a Connector
      tags:
        - Connectors
    put:
      description: |+
        Create a new connector linked to a supported external content source.
      operationId: updateConnector
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Connector arguments.
          required: true
          schema:
            title: ConnectorArguments
            type: object
            properties:
              id:
                description: A unique Connector identifier.
                type: integer
                example: 46530
              name:
                description: Name of connector.
                type: string
                example: "zendesk"
              args:
                description: Connector parameters.
                type: object
              schedule:
                description: Cron string
                type: string
                example: "0 0 * * *"
      responses:
        "201":
          description: A Connector object.
          schema:
            $ref: "#/definitions/Connector"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Upload a Connector
      tags:
        - Connectors
    delete:
      description: |+
        Delete a Connector.

        Example CURL command:
        ```
          curl -X DELETE https://lilt.com/2/connectors?key=API_KEY&id=123 ```

      operationId: deleteConnector
      parameters:
        - description: A unique Connector identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "204":
          description: A status object.
          schema:
            title: ConnectorDeleteResponse
            type: object
            properties:
              id:
                description: A unique Connector identifier.
                type: integer
                example: 12345
              deleted:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a Connector
      tags:
        - Connectors
  /connectors/sync:
    post:
      description: |+
        Request an import job for the given connector ID. This will check the
        target system for new content to pull into Lilt.

        Example CURL command:
        ```
         curl -X GET https://lilt.com/2/connectors/sync?key=API_KEY&id=128
        ```
      operationId: syncConnector
      parameters:
        - description: A unique Connector identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "201":
          description: A Connector Job object.
          schema:
            $ref: "#/definitions/ConnectorJob"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Sync a Connector
      tags:
        - Connectors
  /connectors/jobs:
    get:
      description: |+
        Retrieves a connector job available to your user. Use this to check the
        status of jobs started by the `/connectors/sync` and
        `/connectors/jobs/deliver` endpoints.

        Example CURL command:
        ```
         curl -X GET https://lilt.com/2/connectors/jobs?key=API_KEY&id=9274
        ```
      operationId: getConnectorJobs
      parameters:
        - description: A unique Connector Job identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A list of Connector Jobs.
          schema:
            title: ConnectorJobsList
            type: array
            items:
              $ref: "#/definitions/ConnectorJob"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Connector Job
      tags:
        - Connectors
  /connectors/jobs/deliver:
    post:
      description: |+
        Request an export job for the given connector job ID. This will check
        Lilt for completed projects that are associated with this job and
        deliver them to the target system.

        Example CURL command:
        ```
         curl -X POST https://lilt.com/2/connectors/jobs/deliver?key=API_KEY&id=9274
        ```
      operationId: exportConnectorJob
      parameters:
        - description: A unique Connector Job identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A success status code.
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Deliver a Connector Job
      tags:
        - Connectors
  /configs/converter:
    get:
      description: |
        List all file filter configurations for your Organization.
      operationId: getConverterConfigs
      parameters:
        - description: A unique Organization identifier.
          in: query
          name: organizationId
          required: true
          type: integer
      responses:
        "200":
          description: A map of config id to string escaped config json.
          schema:
            $ref: "#/definitions/ConverterConfigMap"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: List Converter Configs
      tags:
        - ConverterConfig
    put:
      description: |
        Add a file filter configuration for your Organization.
      operationId: addConverterConfig
      consumes:
        - application/json
      parameters:
        - description: A unique Organization identifier.
          in: query
          name: organizationId
          required: true
          type: integer
        - in: body
          name: body
          description: The file filter configuration to create.
          schema:
            title: CreateConverterConfigParameters
            type: object
            properties:
              configJson:
                description: The configuration json blob, string escaped.
                type: string
                example: "{\"registry\": {\".md\": {\"type\": \"OkapiFprm\", \"version\": 1, \"filterName\": \"okf_markdown\", \"filterConfig\": \"#v1\\nuseCodeFinder.b=false\\ntranslateUrls.b=true\\nurlToTranslatePattern=.+\\ntranslateCodeBlocks.b=false\\ntranslateInlineCodeBlocks.b=true\\ntranslateHeaderMetadata.b=true\\ntranslateImageAltText.b=true\\nuseLinkSubflow.b=true\\ncodeFinderRules.count.i=1\\ncodeFinderRules.rule0=\\\\{\\\\{[^}]+\\\\}\\\\}\\ncodeFinderRules.sample={{#test}} handle bar test {{/test}}$0a${{stand-alone handle bar}}$0a$\\ncodeFinderRules.useAllRulesWhenTesting.b=true\\n\", \"extractAllTags\": true, \"exportReplacements\": {\"patterns\": [], \"replacements\": []}, \"importReplacements\": {\"patterns\": [], \"replacements\": []}}}"
              configName:
                description: The user defined name of your configuration.
                type: string
                example: "my_config"
              configDescription:
                description: A description for the configuration.
                type: string
                example: "config for custom markdown escaping"
            required:
              - configJson
              - configName
              - configDescription
      responses:
        "200":
          description: The config id of the configuration created.
          schema:
            title: ConverterConfigUpdateResponse
            type: object
            properties:
              configId:
                type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Add Converter Config
      tags:
        - ConverterConfig
  /configs/converter/{configId}:
    get:
      description: |
        Fetch a file filter configuration by id.
      operationId: getConverterConfigById
      parameters:
        - description: A unique configuration identifier.
          in: path
          name: configId
          required: true
          type: integer
      responses:
        "200":
          description: A map of config id to string escaped config json.
          schema:
            $ref: "#/definitions/ConverterConfigMap"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Fetch Converter Config by Id
      tags:
        - ConverterConfig
    delete:
      description: |
        Delete a file filter configuration by id.
      operationId: deleteConverterConfig
      parameters:
        - description: A unique configuration identifier.
          in: path
          name: configId
          required: true
          type: integer
      responses:
        "200":
          description: The config id of the configuration deleted.
          schema:
            type: object
            properties:
              configId:
                type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete Converter Config
      tags:
        - ConverterConfig
  /configs/converter/{configId}/{fileExtension}:
    put:
      description: |
        Add a specific filter mapping to your file filter configuration
      operationId: editFilterMapping
      consumes:
        - application/json
      parameters:
        - description: A unique configuration identifier.
          in: path
          name: configId
          required: true
          type: integer
        - description: A file extension for the filter mapping.
          in: path
          name: fileExtension
          required: true
          type: string
        - in: body
          name: body
          description: The file filter mapping to create.
          schema:
            title: EditFilterMappingParameters
            type: object
            properties:
              registryEntryJson:
                description: The filter mapping json blob, string escaped.
                type: string
                example: "{\"type\": \"OkapiFprm\", \"version\": 1, \"filterName\": \"okf_markdown\", \"filterConfig\": \"#v1\\nuseCodeFinder.b=false\\ntranslateUrls.b=true\\nurlToTranslatePattern=.+\\ntranslateCodeBlocks.b=false\\ntranslateInlineCodeBlocks.b=true\\ntranslateHeaderMetadata.b=true\\ntranslateImageAltText.b=true\\nuseLinkSubflow.b=true\\ncodeFinderRules.count.i=1\\ncodeFinderRules.rule0=\\\\{\\\\{[^}]+\\\\}\\\\}\\ncodeFinderRules.sample={{#test}} handle bar test {{/test}}$0a${{stand-alone handle bar}}$0a$\\ncodeFinderRules.useAllRulesWhenTesting.b=true\\n\", \"extractAllTags\": true, \"exportReplacements\": {\"patterns\": [], \"replacements\": []}, \"importReplacements\": {\"patterns\": [], \"replacements\": []}"
              configName:
                description: The user defined name of your configuration.
                type: string
                example: "my_config"
              configDescription:
                description: A description for the configuration.
                type: string
                example: "config for custom markdown escaping"
            required:
              - configJson
              - configName
              - configDescription
      responses:
        "200":
          description: A map of config id to string escaped config json.
          schema:
            $ref: "#/definitions/ConverterConfigMap"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Add Filter Mapping
      tags:
        - ConverterConfig
    delete:
      description: |
        Delete a file filter mapping by id and file extension.
      operationId: deleteFilterMapping
      parameters:
        - description: A unique configuration identifier.
          in: path
          name: configId
          required: true
          type: integer
        - description: A file extension to delete.
          in: path
          name: fileExtension
          required: true
          type: string
      responses:
        "200":
          description: A map of config id to string escaped config json.
          schema:
            $ref: "#/definitions/ConverterConfigMap"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete Filter Mapping
      tags:
        - ConverterConfig
  /documents:
    post:
      description: |
        Create a new Document. A Document is a collection of one or more Segments.
        Documents are nested inside of Projects, and appear in the Project details view in the web app.
        Document-level relationships between Segments are considered by the machine translation system during adaptation. If there is no inherent document structure in your data, you still might consider grouping related Segments into Documents to improve translation quality.
      operationId: createDocument
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The Document resource to create.
          schema:
            title: DocumentParameters
            type: object
            properties:
              name:
                description: The document name.
                type: string
                example: Introduction.xliff
              project_id:
                description: A unique Project identifier.
                type: integer
                example: 23618
            required:
              - name
              - project_id
      responses:
        "200":
          description: A Document object.
          schema:
            $ref: "#/definitions/DocumentWithSegments"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Create a Document
      tags:
        - Documents
    get:
      description: |-
        List a Document.

        The listing will include the pretranslation status for the document. When pretranslation is in progress for a document, the `GET /documents` endpoint's response will include `is_pretranslating = true` as well as a more detailed status property `status.pretranslation` one of `idle`, `pending`, or `running`.
      operationId: getDocument
      parameters:
        - description: A unique Document identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: Flag indicating whether full segment information should be returned.
          in: query
          name: with_segments
          required: false
          type: boolean
      responses:
        "200":
          description: A Document object.
          schema:
            $ref: "#/definitions/DocumentWithSegments"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Document
      tags:
        - Documents
    put:
      - summary: Update a Document
        tags:
          - Documents
        description: |
          Update a Document.
        operationId: updateDocument
        consumes:
          - application/json
        parameters:
          - in: body
            name: body
            description: The Document resource to update.
            required: true
            schema:
              title: DocumentUpdateParameters
              type: object
              properties:
                id:
                  description: A unique Document identifier.
                  type: integer
                  example: 46530
                name:
                  description: The Document name.
                  type: string
                  example: Introduction to our App
              required:
                - id
                - name
        responses:
          "200":
            description: A Document object.
            schema:
              $ref: "#/definitions/DocumentWithSegments"
          "400":
            description: Invalid id or name or one of them was missing.
            schema:
              $ref: "#/definitions/Error"
          default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/Error"
      - summary: Update multiple Documents
        tags:
          - Documents
        description: |
          Update multiple Documents.
        operationId: updateDocuments
        consumes:
          - application/json
        parameters:
          - in: body
            name: body
            description: An array of Document resources to update.
            required: true
            schema:
              title: Multiple DocumentUpdateParameters
              type: array
              items:
                type: object
                properties:
                  id:
                    description: A unique Document identifier.
                    type: integer
                    example: 46530
                  name:
                    description: The Document name.
                    type: string
                    example: Introduction to our App
                required:
                  - id
                  - name
        responses:
          "200":
            description: Multiple Document objects.
            schema:
              type: array
              items:
                $ref: "#/definitions/DocumentWithSegments"
          "400":
            description: Invalid id or name or one of them was missing.
            schema:
              type: array
              items:
                $ref: "#/definitions/Error"
          default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/Error"
    delete:
      description: |
        Delete a Document.
      operationId: deleteDocument
      parameters:
        - description: A unique Document identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A status object.
          schema:
            title: DocumentDeleteResponse
            type: object
            properties:
              id:
                description: A unique Document identifier.
                type: integer
                example: 46530
              deleted:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a Document
      tags:
        - Documents
  /documents/share:
    put:
      description: |+
        Assign and unassign a Document for translation and/or review.

      operationId: assignDocument
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Attributes of the Document resource to assign.
          required: true
          schema:
            title: DocumentAssignmentParameters
            type: object
            properties:
              id:
                description: A unique Document identifier.
                type: integer
                example: 46530
              email:
                description: An email address.
                type: string
                example: user@email.com
              is_translator:
                description: "If true, assign for translating. If false, then unassign."
                type: boolean
                example: true
              is_reviewer:
                description: "If true, assign for reviewing. If false, then unassign."
                type: boolean
                example: false
              due_date:
                description: "Due date for translation or review (set based on `is_translator` and `is_reviewer` flags)."
                type: string
                format: date-time
                example: 2019-10-16T22:12:34.000Z
            required:
              - id
              - email
      responses:
        "200":
          description: A status object.
          schema:
            title: DocumentAssignmentResponse
            type: object
            properties:
              id:
                description: A unique Document identifier.
                type: integer
                example: 46530
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Assign a Document
      tags:
        - Documents
  /documents/pretranslate:
    post:
      description: |
        Initiate pretranslation of a list of Documents. This request will mark
        document(s) as being pretranslated. Pretranslation in this context is:
        - Applying and confirming exact TM matches based on the Memory of the
        Project;
        - Translating all other segments via MT without confirming
        them.

        Example CURL command:
        ```
        curl -X POST https://lilt.com/2/documents/pretranslate?key=API_KEY -d '{"id": [123]}' -H "Content-Type: application/json"
        ```

        Document translation is an asynchronous process that, in effect, is
        performed in the background.

        To check the status of pretranslation for a document, use the `GET
        /documents` endpoint. When pretranslation is in progress for a document,
        the `GET /documents` endpoint's response will include `is_pretranslating
        = true` as well as a more detailed status property
        `status.pretranslation` one of `idle`, `pending`, or `running`.

        Once pretranslation is finished, the document can be downloaded via `GET
        /documents/files`.
      operationId: pretranslateDocuments
      consumes:
        - application/json
      parameters:
        - in: query
          description: Deprecated, use body param instead. Optional parameter for auto-accepting 100% TM hits.
          name: auto_accept
          required: false
          type: boolean
        - in: query
          description: Deprecated, use body param instead. Optional for using case matching against TM hits.
          name: case_sensitive
          required: false
          type: boolean
        - in: query
          description: Deprecated, use body param instead. Optional parameter for attributing translation authorship of exact matches to document creator.
          name: attribute_to_creator
          required: false
          type: boolean
        - in: query
          description: |+
            Deprecated, use body param instead. An optional parameter indicating how the document will be pretranslated.

            The accepted values are `tm`, or `tm+mt`. Default is `tm`.
          name: mode
          required: false
          type: string
        - in: body
          name: body
          description: A list of unique Document identifiers.
          required: true
          schema:
            title: DocumentPretranslateParameters
            type: object
            properties:
              id:
                description: A list of unique Document identifiers.
                type: array
                items:
                  type: integer
                example:
                  - 123
                  - 234
              auto_accept:
                description: Optional parameter for auto-accepting 100% TM hits.
                type: boolean
                example: false
              case_sensitive:
                description: Optional for using case matching against TM hits..
                type: boolean
                example: false
              attribute_to_creator:
                description: Optional parameter for attributing translation authorship of exact matches to document creator.
                type: boolean
                example: false
              mode:
                description: |+
                  An optional parameter indicating how the document will be pretranslated.

                  The accepted values are `tm`, or `tm+mt`. Default is `tm`.
                type: string
                example: "tm+mt"
            required:
              - id
      responses:
        "202":
          description: A status object.
          schema:
            title: DocumentPretranslateResponse
            type: object
            properties:
              id:
                description: A list of documents being pretranslated.
                type: array
                items:
                  type: integer
                example:
                  - 123
                  - 234
              is_pretranslating:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
              documents:
                description: Document pretranslation status.
                type: array
                items:
                  $ref: "#/definitions/DocumentPretranslating"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Pretranslate a Document
      tags:
        - Documents
  /documents/files:
    get:
      description: |+
        Export a Document that has been translated in the Lilt web application.
        Any Document can be downloaded in XLIFF 1.2 format, or can be retrieved in its original uploaded format by setting `is_xliff=false`.
        This endpoint will fail if either (a) export or (b) pre-translation operations are in-progress. The status of those operations can be determined by retrieving the Document resource.
        Example CURL command:
        ```
          curl -X GET https://lilt.com/2/documents/files?key=API_KEY&id=274 -o from_lilt.xliff
        ```

      operationId: downloadDocument
      parameters:
        - description: An unique Document identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: Download the document in XLIFF 1.2 format.
          in: query
          name: is_xliff
          required: false
          type: boolean
          default: true
      produces:
        - application/octet-stream
      responses:
        "200":
          description: A file.
          schema:
            title: DocumentDownloadResponse
            type: string
            format: byte
        "502":
          description: File in pretranslation.
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Download a Document
      tags:
        - Documents
    post:
      description: |+
        Create a Document from a file in any of the formats [documented in our knowledge base](https://support.lilt.com/hc/en-us/articles/360020816253-File-Formats).
        Request parameters should be passed as JSON object with the header field `LILT-API`.

        File names in the header can only contain [US-ASCII characters](https://en.wikipedia.org/wiki/ASCII). File names with characters outside of US-ASCII should be [URI encoded](https://en.wikipedia.org/wiki/Percent-encoding) or transliterated to US-ASCII strings.

        Example CURL command:
        ```
          curl -X POST https://lilt.com/2/documents/files?key=API_KEY \
          --header "LILT-API: {\"name\": \"introduction.xliff\",\"pretranslate\": \"tm+mt\",\"project_id\": 9}" \
          --header "Content-Type: application/octet-stream" \
          --data-binary @Introduction.xliff
        ```

      operationId: uploadDocument
      consumes:
        - application/octet-stream
      parameters:
        - description: A file name.
          in: header
          name: name
          required: true
          type: string
        - description: A unique Project identifier.
          in: header
          name: project_id
          required: true
          type: integer
        - in: header
          name: pretranslate
          description: |+
            An optional parameter indicating if and how the document will be
            pretranslated upon being uploaded.
            The accepted values are `TM`, or `TM+MT`
          required: false
          type: string
        - in: header
          description: |+
            An optional parameter to auto-accept segments with 100% translation
            memory matches when the `pretranslate` option is also set, or to
            auto-accept any target data that is present when the uploaded file
            is XLIFF. If omitted it will default to your organization settings for `Accept and lock exact matches`,
            if set to `false`, no segments will be auto-accepted.
          name: auto_accept
          required: false
          type: boolean
        - in: header
          description: |+
            An optional parameter to use case sensitive translation memory matching when the `pretranslate`
            option is also enabled. Matches must have identical character-by-character case to qualify as matches.
            Default value matches your organization settings for `Use case sensitive translation memory matching` setting
          name: case_sensitive
          required: false
          type: boolean
        - in: header
          description: |+
            An optional parameter to attribute translation authorship of exact matches to the author of the file
            when the `pretranslate` option is also enabled. Default value matches your organization settings for `Translation authorship` setting
          name: match_attribution
          required: false
          type: boolean
        - in: header
          description: |+
            An optional pararameter to specify an import configuration to
            be applied when extracting translatable content from this file.
          name: config_id
          required: false
          type: integer
        - in: body
          name: body
          description: |+
            The file contents to be uploaded. The entire POST body will be
            treated as the file.
          required: true
          schema:
            title: DocumentUploadBody
            type: string
            format: binary
            example: |-
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <xliff xmlns="urn:oasis:names:tc:xliff:document:1.2">
              ...
              </xliff>
      responses:
        "200":
          description: A Document object.
          schema:
            $ref: "#/definitions/DocumentWithSegments"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Upload a File
      tags:
        - Documents
  /documents/done/unlock:
    post:
      description: |+
        Unlock documents for translation.
        Sets document "Translation Done" and "Review Done" to false.

        Example curl:
        ```
          curl --X --request POST 'https://lilt.com/2/documents/done/unlock?key=API_KEY' \
          --header 'Content-Type: application/json' \
          --data-raw '{
              "documentIds": [23921, 23922]
          }'
        ```
      parameters:
        - in: body
          name: body
          description: document ids to update
          required: true
          schema:
            title: DocumentDoneUpdateParameters
            type: object
            properties:
              documentIds:
                description: array of document ids
                type: array
                items:
                  type: number
                example: [10641, 10642]
            required:
              - documentIds
      summary: Unlock documents
      operationId: unlockDocuments
      tags:
        - Documents
      responses:
        "200":
          description: array of updated documents
          schema:
            title: "DocumentDoneResponse"
            type: array
            items:
              type: number
  /documents/done/translation:
    post:
      description: |+
        Mark the translation of documents as done/undone in bulk.

        When being marked positively as done:

        - Documents must not already be marked as done and all segments must be confirmed.
        - This request will also trigger an email notification to a document's assigned reviewer that the document is ready for review.

        When being marked as un-done:
        - Documents must not be marked as complete for review.

        Example curl:
        ```
          curl --X --request POST 'https://lilt.com/2/documents/done/translation?key=API_KEY' \
          --header 'Content-Type: application/json' \
          --data-raw '{
              "documentIds": [23921, 23922],
              "isDone": true
          }'
        ```
      parameters:
        - in: body
          name: body
          description: document ids to update
          required: true
          schema:
            title: DocumentDoneUpdateParameters
            type: object
            properties:
              documentIds:
                description: array of document ids
                type: array
                items:
                  type: number
                example: [10641, 10642]
              isDone:
                type: boolean
                example: true
            required:
              - documentIds
              - isDone
      operationId: markTranslationDone
      summary: Mark translation done
      tags:
        - Documents
      responses:
        "200":
          description: array of updated documents
          schema:
            title: "DocumentDoneResponse"
            type: array
            items:
              type: number
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/TranslateCompletionTypeError"
  /documents/done/review:
    post:
      description: |+
        Mark the review of documents as done/undone in bulk.

        When being marked positively as done:

        - Documents must not already be marked as done for review.
        - Documents must already be marked as done for translation.
        - This request will also trigger an email notification.

        Example curl:
        ```
          curl --X --request POST 'https://lilt.com/2/documents/done/review?key=API_KEY' \
          --header 'Content-Type: application/json' \
          --data-raw '{
              "documentIds": [23921, 23922],
              "isDone": true
          }'
        ```
      parameters:
        - in: body
          name: body
          description: document ids to update
          required: true
          schema:
            title: DocumentDoneUpdateParameters
            type: object
            properties:
              documentIds:
                description: array of document ids
                type: array
                items:
                  type: number
                example: [10641, 10642]
              isDone:
                type: boolean
                example: true
            required:
              - documentIds
              - isDone
      operationId: markReviewDone
      summary: Mark review done
      tags:
        - Documents
      responses:
        "200":
          description: array of updated documents
          schema:
            title: "DocumentDoneResponse"
            type: array
            items:
              type: number
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ReviewCompletionTypeError"
  /languages:
    get:
      description: |+
        Get a list of supported languages.

      operationId: getLanguages
      responses:
        "200":
          description: An object listing supported languages and their corresponding locales.
          schema:
            title: LanguagesResponse
            type: object
            properties:
              source_to_target:
                description: "A two-dimensional object in which the first key is an ISO 639-1 language code indicating the source, and the second key is an ISO 639-1 language code indicating the target."
                type: object
                example:
                  en:
                    da: true
                    de: true
                    fr: true
                    ...: ...
                  ...: ...
              code_to_name:
                description: "An object in which the key is an ISO 639-1 language code, and the value is the language name."
                type: object
                example:
                  aa: Afar
                  ab: Abkhazian
                  af: Afrikaans
                  ...: ...
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve supported languages
      tags:
        - Languages
  /lexicon:
    post:
      description: |+
        Update the Lexicon (Termbase as displayed in the ui) with a new term. The maximum source length is 250
        characters.

      operationId: updateLexicon
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The lexicon entry.
          required: true
          schema:
            title: LexiconUpdateParameters
            type: object
            properties:
              memory_id:
                description: A unique Memory identifier.
                type: integer
                example: 10641
              source:
                description: The source side of the lexicon entry.
                type: string
                example: washing machine
              target:
                description: The target side of the lexicon entry.
                type: string
                example: Waschmaschine
            required:
              - memory_id
              - source
              - target
      responses:
        "200":
          description: A status object.
          schema:
            title: LexiconUpdateResponse
            type: object
            properties:
              memory_id:
                description: A unique Memory identifier.
                type: integer
                example: 46530
              success:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Update a Lexicon
      tags:
        - Lexicon
    get:
      description: |+
        Query the Lexicon. The Lexicon is an editable termbase / concordance that is integrated with the Memory.

      operationId: queryLexicon
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: memory_id
          required: true
          type: integer
        - description: An ISO 639-1 language code.
          in: query
          name: srclang
          required: true
          type: string
        - description: An ISO 639-1 language code.
          in: query
          name: trglang
          required: true
          type: string
        - description: The query term.
          in: query
          name: query
          required: true
          type: string
        - description: The maximum number of results to return.
          in: query
          name: "n"
          default: 1
          required: false
          type: integer
      responses:
        "200":
          description: A list of LexiconEntry objects.
          schema:
            title: LexiconQueryResponse
            type: array
            items:
              $ref: "#/definitions/LexiconEntry"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Query a Lexicon
      tags:
        - Lexicon
  /memories:
    post:
      description: |+
        Create a new Memory. A Memory is a container that collects source/target
        sentences for a specific language pair (e.g., English>French). The data
        in the Memory is used to train the MT system, populate the TM, and
        update the lexicon. Memories are private to your account - the data is
        not shared across users - unless you explicitly share a Memory with your
        team (via web app only).

        <a href="https://support.lilt.com/hc/en-us/sections/360012579193-Lilt-Translate-Engine" target=_blank>Refer
        to our KB</a> for a more detailed description.

      operationId: createMemory
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The Memory resource to create.
          required: true
          schema:
            title: MemoryCreateParameters
            type: object
            properties:
              name:
                description: A name for the Memory.
                type: string
                example: automotive
              srclang:
                description: An ISO 639-1 language identifier.
                type: string
                example: en
              trglang:
                description: An ISO 639-1 language identifier.
                type: string
                example: fr
              srclocale:
                description: An ISO 3166-1 region name for language locales
                type: string
                example: US
              trglocale:
                description: An ISO 3166-1 region name for language locales
                type: string
                example: FR
            required:
              - srclang
              - trglang
              - name
      responses:
        "200":
          description: A Memory object.
          schema:
            $ref: "#/definitions/Memory"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Create a Memory
      tags:
        - Memories
    get:
      description: |+
        Retrieve a Memory. If you cannot access the Memory (401 error) please check permissions (e.g. in case you created the Memory via the web app with a different account you may have to explicitly share that Memory).

      operationId: getMemory
      parameters:
        - description: An optional Memory identifier.
          in: query
          name: id
          required: false
          type: integer
      responses:
        "200":
          description: A list of Memory objects.
          schema:
            title: MemoryResponse
            type: array
            items:
              $ref: "#/definitions/Memory"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Memory
      tags:
        - Memories
    put:
      description: |
        Update a Memory.
      operationId: updateMemory
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The Memory resource to update.
          required: true
          schema:
            title: MemoryUpdateParameters
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 7246
              name:
                description: The Memory name.
                type: string
                example: Automotive Memory
            required:
              - id
              - name
      responses:
        "200":
          description: A Memory object.
          schema:
            $ref: "#/definitions/Memory"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Update the name of a Memory
      tags:
        - Memories
    delete:
      description: |
        Delete a Memory.
      operationId: deleteMemory
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A status object.
          schema:
            title: MemoryDeleteResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 46530
              deleted:
                description: "If the operation succeeded, then `true`. Otherwise, `false`."
                type: boolean
                example: true
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a Memory
      tags:
        - Memories
  /memories/query:
    get:
      description: |+
        Perform a translation memory query.

      operationId: queryMemory
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: A source query.
          in: query
          name: query
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          name: "n"
          required: false
          type: integer
          default: 10
      responses:
        "200":
          description: A list of TranslationMemoryEntry objects.
          schema:
            title: MemoryQueryResponse
            type: array
            items:
              $ref: "#/definitions/TranslationMemoryEntry"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Query a Memory
      tags:
        - Memories
  /memories/sync:
    get:
      description: |+
        Get all or part of a memory in TMX 1.4b format. If the `from_time` and/or `to_time` are omitted, then all segments are returned. The parameter `when` specifies on which date field `from_time` and `to_time` are matched. Possible values are `created` (when the segment was originally created in the memory), `updated` (when the segment was lastly updated), and `deleted` (when the segment was deleted).

        Example CURL command:
        ```
          curl -X GET https://lilt.com/2/memories/sync?key=API_KEY&id=42 -o from_lilt.tmx
        ```

      operationId: syncDownMemory
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the start of the Memory section."
          in: query
          name: from_time
          required: false
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the end of the Memory section."
          in: query
          name: to_time
          required: false
          type: integer
        - description: "The date field on which retrieved segments match from/to time stamps: `created`, `updated`, `deleted`. If this parameter is omitted, then the whole Memory is returned."
          in: query
          name: when
          required: false
          type: string
      produces:
        - application/x-tmx
      responses:
        "200":
          description: A TMX 1.4b file.
          schema:
            title: MemorySyncResponse
            type: string
            format: byte
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Get-sync for a Memory
      tags:
        - Memories
    post:
      description: |+
        Inserts a TM in TMX 1.4b format into the Memory. Request parameters should be passed as JSON object with the header field `LILT-API`.

        Example CURL command:
        ```
          curl -X POST https://lilt.com/2/memories/sync?key=API_KEY \
            --header "LILT-API: {\"name\": \"my_memory.tmx\",\"id\": 42}" \
            --header "Content-Type: application/octet-stream" \
            --data-binary @my_memory.tmx
        ```

      operationId: syncInsertMemory
      consumes:
        - application/octet-stream
      parameters:
        - description: A unique Memory identifier.
          in: header
          name: id
          required: true
          type: integer
        - description: Name of the TMX file.
          in: header
          name: name
          required: false
          type: string
        - in: body
          name: body
          description: The file contents to be uploaded. The entire POST body will be treated as the file.
          required: true
          schema:
            title: MemoryInsertBody
            type: string
      responses:
        "200":
          description: A status object.
          schema:
            title: MemoryInsertResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 123
              num_updates:
                description: The number of updates to the Memory.
                type: integer
                example: 107
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Insert-sync for a Memory
      tags:
        - Memories
    put:
      description: |+
        Updates the Memory with given TMX file. Request parameters should be passed as JSON object with the header field `LILT-API`. The number of segments returned by the `from_time`, `to_time`, `when` parameters and the number of segments in the TMX file need to be identical.

        Example CURL command:
        ```
          curl -X PUT https://lilt.com/2/memories/sync?key=API_KEY \
            --header "LILT-API: {\"name\": \"my_memory.tmx\", \"id\": 42, \"from_time\": 1491048000, \"to_time\": 1491049800, "when": "Updated"}" \
            --header "Content-Type: application/octet-stream" \
            --data-binary @my_memory.tmx
        ```

      operationId: syncUpdateMemory
      parameters:
        - description: A unique Memory identifier.
          in: header
          name: id
          required: true
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the start of the Memory section."
          in: header
          name: from_time
          required: false
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the end of the Memory section."
          in: header
          name: to_time
          required: false
          type: integer
        - description: "The date field on which retrieved segments match from/to time stamps: `created`, `updated`, `deleted`."
          in: header
          name: when
          required: false
          type: string
        - in: body
          name: body
          description: The file contents to be uploaded. The entire PUT body will be treated as the file.
          required: true
          schema:
            title: MemoryUpdateBody
            type: string
      responses:
        "200":
          description: A status object.
          schema:
            title: MemoryUpdateResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 123
              num_updates:
                description: The number of updates to the Memory.
                type: integer
                example: num_updates
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Update-sync for a Memory
      tags:
        - Memories
    delete:
      description: |+
        Deletes segments in the Memory matching the `from_time`, `to_time` and `when` parameters.

        Example CURL command:
        ```
          curl -X DELETE https://lilt.com/2/memories/sync?key=API_KEY&id=42&from_time=1491048000&to_time=1491049800&when=created
        ```

      operationId: syncDeleteMemory
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the start of the Memory section."
          in: query
          name: from_time
          required: false
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of the end of the Memory section."
          in: query
          name: to_time
          required: false
          type: integer
        - description: "The date field on which retrieved segments match from/to time stamps: `created`, `updated`, `deleted`."
          in: query
          name: when
          required: false
          type: string
      responses:
        "200":
          description: A status object.
          schema:
            title: MemorySyncDeleteResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 123
              num_updates:
                description: The number of updates to the Memory.
                type: integer
                example: 107
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete-sync for a Memory
      tags:
        - Memories
  /memories/import:
    post:
      description: |+
        Imports common translation memory or termbase file formats to a specific Lilt memory. Currently supported file formats are `*.tmx`, `*.sdltm`, `*.sdlxliff`(With custom Filters), '*.xliff', and `*.tmq` for TM data; `*.csv` and `*.tbx` for termbase data. Request parameters should be passed as JSON object with the header field `LILT-API`.

        Example CURL command to upload a translation memory file named `my_memory.sdltm` in the current working directory:
        ```
          curl -X POST https://lilt.com/2/memories/import?key=API_KEY \
            --header "LILT-API: {\"name\": \"my_memory.sdltm\",\"memory_id\": 42}" \
            --header "Content-Type: application/octet-stream" \
            --data-binary @my_memory.sdltm
        ```

        Example CURL command to upload a translation memory file named `my_memory.sdlxliff` in the current working directory, with Custom Filters based on SDLXLIFF fields, conf_name which maps to, percentage, and whether we should ignore unlocked segments.
        ```
          curl -X POST https://lilt.com/2/memories/import?key=API_KEY \
            --header "LILT-API: {\"name\": \"my_memory.sdlxliff\",\"memory_id\": 12,\"sdlxliff_filters\":[{\"conf_name\": \"Translated\", \"percentage\": 100, \"allow_unlocked\": false}]"}" \
            --header "Content-Type: application/octet-stream" \
            --data-binary @my_memory.sdlxliff


      operationId: importMemoryFile
      consumes:
        - application/octet-stream
      parameters:
        - description: A unique Memory identifier.
          in: header
          name: memory_id
          required: true
          type: integer
        - description: Name of the TM or termbase file.
          in: header
          name: name
          required: true
          type: string
        - description: Contains Filter information Unique to SDLXLIFF
          in: header
          name: sdlxliff_filters
          required: false
          type: array
          items:
            $ref: '#/definitions/SDLXLIFFFilter'
        - description: A flag indicating whether an imported Termbase CSV has a header row or not (the default value is `false`).
          in: header
          name: has_header_row
          required: false
          type: boolean
        - description: |
            A flag indicating whether or not to skip the import of segments
            which already exist in the memory. (the default value is `false`).
          in: header
          name: skip_duplicates
          required: false
          type: boolean
        - in: body
          name: body
          description: The file contents to be uploaded. The entire POST body will be treated as the file.
          required: true
          schema:
            title: MemoryImportBody
            type: string
            format: binary
      responses:
        "200":
          description: A status object.
          schema:
            title: MemoryImportResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 123
              isProcessing:
                description: The current state of the import.
                type: integer
                example: 1
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: File import for a Memory
      tags:
        - Memories
  /memories/termbase/export:
    post:
      description: |+
        Exports the termbase entries for the given memory into a CSV file.

        Calling this endpoint will begin the export process in the background.
        Check that the processing is complete by polling the `GET /2/memories`
        endpoint. When the `is_processing` value is 0 then call the
        `POST /2/memories/termbase/download` endpoint.

        ```
          curl -X POST https://lilt.com/2/memories/termbase/export?key=API_KEY&id=ID
        ```
      operationId: exportTermbase
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A status object.
          schema:
            title: TermbaseExportResponse
            type: object
            properties:
              id:
                description: A unique Memory identifier.
                type: integer
                example: 123
              is_processing:
                description: The current state of the import.
                type: integer
                example: 1
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Termbase export for a Memory
      tags:
        - Memories
  /memories/termbase/download:
    get:
      description: |+
        Downloads the termbase export for the given memory as a CSV file.

        Ensure you first call the `/2/memories/termbase/export` endpoint to
        start the export process before you try to download it.

        ```
          curl -X GET https://lilt.com/2/memories/termbase/download?key=API_KEY&id=ID
        ```
      operationId: downloadTermbase
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: A file.
          schema:
            title: TermbaseDownloadResponse
            type: string
            format: byte
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Termbase download for a Memory
      tags:
        - Memories
  /memories/segment:
    delete:
      description: |+
        Delete a segment from a memory.

        ```
          curl -X DELETE https://lilt.com/2/memories/segment?key=API_KEY&id=ID&segment_id=$SEGMENT_ID
        ```
      operationId: deleteSegmentFromMemory
      parameters:
        - description: A unique Memory identifier.
          in: query
          name: id
          required: true
          type: integer
        - description: A unique Segment identifier.
          in: query
          name: segment_id
          required: true
          type: integer
      responses:
        "200":
          description: A success resposne.
          schema:
            title: DeleteSegmentFromMemoryResponse
            type: object
            properties:
              success:
                type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a segment from a memory.
      tags:
        - Memories
  /jobs:
    post:
      description: |+
        Create a Job. A Job is a collection of Projects.
        A Job will contain multiple projects, based on the language pair.
        A Project is associated with exactly one Memory.

        Jobs appear in the Jobs dashboard of the web app.

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs?key=API_KEY' \
        --header 'Content-Type: application/json' \
        --data-raw '{
          "name": "test job",
          "fileIds": [5009, 5010, 5011],
          "due": "2022-05-05T10:56:44.985Z",
          "srcLang": "en",
          "srcLocale": "US",
          "languagePairs": [
              { "memoryId": 3121, "trgLang": "de" },
              { "memoryId": 2508, "trgLang": "fr" },
              { "memoryId": 3037, "trgLang": "zh" }
            ]
        }'
        ```

      operationId: createJob
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The Job resource to create.
          required: true
          schema:
            title: JobCreateParameters
            type: object
            properties:
              name:
                description: A name for the Job.
                type: string
                example: My new Job
              languagePairs:
                description: Language pairs is a set of one or more pairs that includes source language, source locale(optional), target language, target locale(optional), and memoryId.
                type: array
                items:
                  $ref: "#/definitions/LanguagePair"
              fileIds:
                description: A list of file ids to upload to job creation.
                type: array
                items:
                  type: integer
                example: [298, 299]
              due:
                description: An ISO string date representing job due date.
                type: string
                example: "2021-10-05T14:48:00.000Z"
              srcLang:
                description: 2-letter ISO source language code
                type: string
                example: "en"
              srcLocale:
                description: 2-letter source language code
                type: string
                example: "US"
              isPlural:
                description: A boolean value representing if the files have plurals.
                type: boolean
                example: true
              workflowTemplateId:
                description: Identifier of the workflow template to be used when creating a job. If not passed the organization default will be used.
                type: integer
                example: 123
              workflowTemplateName:
                description: Name of the workflow template to be used, must be passed with teamId or look up will fail. If workflowTemplateId is passed it supercedes any other look up.
                type: integer
                example: "Translate > Review"
            required:
              - name
              - languagePairs
              - fileIds
              - srcLang
              - srcLocale
      responses:
        "200":
          description: A Job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Create a Job
      tags:
        - Jobs
    get:
      description: |-
        Get all Jobs within a given offset and limit. You can retrieve jobs from your account using the above API.

        Example CURL command:

        ```
        curl -X GET 'https://lilt.com/2/jobs?key=API_KEY&isArchived=false'
        ```
      operationId: retrieveAllJobs
      consumes:
        - application/json
      parameters:
        - in: query
          description: Retrieves all jobs that are archived.
          name: isArchived
          type: boolean
        - in: query
          description: Retrieves all jobs that are delivered.
          name: isDelivered
          type: boolean
        - in: query
          description: Return jobs starting at the offset row. If not given the default offset will be 0.
          name: offset
          type: integer
          minimum: 0
        - in: query
          description: The maximum number of jobs to be returned. If not given the default limit will be 25.
          name: limit
          type: integer
          maximum: 50
      responses:
        "200":
          description: A list of Job objects.
          schema:
            title: JobsResponse
            type: array
            items:
              $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve all Jobs
      tags:
        - Jobs
  /jobs/{jobId}:
    get:
      description: |-
        Retrieves a job data along with stats. To retrieve a specific job, you will need the job `id` in the url path.

        Example CURL command:

        ```
        curl -X GET 'https://lilt.com/2/jobs/{id}?key=API_KEY'
        ```
      operationId: getJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Job
      tags:
        - Jobs
    put:
      description: |-
        Updates a job with the new job properties. To update a specific job, you will need the job `id` in the url path.

        You can update job's name and due date by passing the property and new value in the body.

        Example CURL command:

        ```
        curl -X PUT 'https://lilt.com/2/jobs/{id}?key=API_KEY' \
        --header 'Content-Type: application/json' \
        --data-raw '{
          "name": "test job",
          "due": "2022-05-05T10:56:44.985Z"
        }'
        ```

      operationId: updateJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
        - in: body
          name: body
          description: The Job resource to update.
          schema:
            title: JobUpdateParameters
            type: object
            properties:
              name:
                description: A name for the Job.
                type: string
                example: My new Job
              dueDate:
                description: An ISO string date.
                type: integer
                example: "2021-10-05T14:48:00.000Z"
              isProcessing:
                description: |
                  The processing status of the job. Provide one of the following
                  integers to indicate the status.

                  Ok = 0
                  Started = 1
                  ExportError = -2
                type: string
                enum:
                  - 0
                  - 1
                  - -2
                example: "ExportError"
              processingErrorMsg:
                description: The processing error message.
                type: string
                example: Authentication failed. Check your Contentful API Key.
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Update a Job
      tags:
        - Jobs
    delete:
      description: |-
        Delete a job, deletes all projects and documents in the job, deletes all the segments from all the job's translation memories.

        Example CURL command:

        ```
        curl -X DELETE 'https://lilt.com/2/jobs/{id}?key=API_KEY'
        ```

      operationId: deleteJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A status object.
          schema:
            title: JobDeleteResponse
            type: object
            properties:
              id:
                description: A unique Project identifier.
                type: integer
                example: 241
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Delete a Job
      tags:
        - Jobs
  /jobs/{jobId}/stats:
    post:
      description: |-
        Get the TM leverage stats for the job (new/exact/fuzzy matches).

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs/{id}/stats?key=API_KEY'
        ```

      operationId: getJobLeverageStats
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job leverage stats object.
          schema:
            $ref: "#/definitions/JobLeverageStats"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve Job Leverage Stats
      tags:
        - Jobs
  /jobs/{jobId}/archive:
    post:
      description: |-
        Set job to archived, unassign all linguists and archive all projects and documents inside the job.

        It will return the archived job.

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs/{id}/archive?key=API_KEY'
        ```

      operationId: archiveJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Archive a Job
      tags:
        - Jobs
  /jobs/{jobId}/unarchive:
    post:
      description: |-
        Set job to unarchived, the job will move to active status.

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs/{id}/unarchive?key=API_KEY'
        ```

      operationId: unarchiveJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Unarchive a Job
      tags:
        - Jobs
  /jobs/{jobId}/deliver:
    post:
      description: |-
        Set the job state to delivered and set all the projects in the job to done

        It will return the delivered job.

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs/{id}/deliver?key=API_KEY'
        ```

      operationId: deliverJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Deliver a Job
      tags:
        - Jobs
  /jobs/{jobId}/reactivate:
    post:
      description: |-
        Set the job state to active. Does not change the state of projects associated with the given job.

        It will return the reactivated job.

        Example CURL command:

        ```
        curl -X POST 'https://lilt.com/2/jobs/{id}/reactivate?key=API_KEY'
        ```

      operationId: reactivateJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: A job object.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Reactivate a Job
      tags:
        - Jobs
  /jobs/{jobId}/export:
    get:
      description: |-
        Prepare job files for download.
        To export translated documents from the job use the query parameter `type=files`:

        Example CURL command:

        ```
        curl -X GET 'https://lilt.com/2/jobs/{id}/export?key=API_KEY&type=files'
        ```

        To export job memories use the query parameter `type=memory`.

        The status of the export can be checked by requesting the job `GET /jobs/:jobId`, `job.isProcessing` will be `1` while in progress,
        `0` when idle and `-2` when the export failed.

      operationId: exportJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
        - in: query
          description: category for files and memory.
          name: type
          required: true
          type: string
      responses:
        "200":
          description: 200 status.
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Export a Job
      tags:
        - Jobs
  /jobs/{jobId}/downlod:
    get:
      description: |-
        Make sure you have exported a job with the same id before using this api.

        Downloading files requires the exported job `id` in the param.

        Example CURL command:

        ```
        curl -X GET 'https://lilt.com/2/jobs/{id}/download?key=API_KEY'
        ```
      operationId: downloadJob
      parameters:
        - in: path
          description: A job id.
          name: jobId
          required: true
          type: integer
      responses:
        "200":
          description: zipped file
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Download a Job
      tags:
        - Jobs
  /projects:
    post:
      description: |+
        Create a Project. A Project is a collection of Documents.

        A Project is associated with exactly one Memory.

        Projects appear in the dashboard of the web app.

      operationId: createProject
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: The Project resource to create.
          required: true
          schema:
            title: ProjectCreateParameters
            type: object
            properties:
              name:
                description: A name for the Project.
                type: string
                example: My new project
              memory_id:
                description: The Memory to associate with this new Project.
                type: integer
                example: 1234
              job_id:
                description: |
                  The Job to associate with this new Project. If a Job ID is not
                  provided then a new Job will be created to contain the
                  Project.
                type: integer
                example: 1234
              due_date:
                description: The due date. Measured in seconds since the Unix epoch.
                type: integer
                example: 1489147692
              metadata:
                description: A JSON object of key/value string pairs. Stores custom project information.
                type: object
                example:
                  connectorType: github
                  notes: example metadata
              workflowTemplateId:
                type: integer
                example: 14
                description: The workflow template used to create this project. WorkflowTemplateIds can be retrieved via the /workflows/templates endpoint. If not specified then the organization default workflowTemplateId will be used.
              workflow_template_name:
                type: string
                example: neural
                description: The LLM provider to use for this project. If not specified then the "neural" LLM provider will be used.
              llm_provider:
                type: string
                example: neural
                description: The LLM provider to use for this project. If not specified then the "neural" LLM provider will be used.
              external_model_id:
                type: integer
                example: 123
                description: The external model id to use for project creation. The model provider needs to match the llm_provider that has been set.
              is_plural:
                type: boolean
                example: false
                description: If true then documents in this project contain ICU plural forms. If false, ICU plural forms will not be parsed. Defaults to false.
            required:
              - memory_id
              - name
      responses:
        "200":
          description: A Project object.
          schema:
            $ref: "#/definitions/Project"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Create a Project
      tags:
        - Projects
    get:
      description: |-
        Retrieves one or more projects, including the documents associated with each project. Retrieving a project is the most efficient way to retrieve a single project, multiple projects or a list of all available projects.

        To retrieve a specific project, specify the `id` request parameter or you can retrieve multiple projects by adding comma (,) between ids eg. `?id=1234,5678`. To retrieve all projects, omit the `id` request parameter. To limit the retrieved projects to those with a particular source language or target language, specify the corresponding ISO 639-1 language codes in the `srclang` and `trglang` request parameters, respectively.
      operationId: getProjects
      parameters:
        - description: A unique Project identifier. It can be a single id or multiple ids separated by a comma
          in: query
          name: id
          required: false
          type: integer
        - description: An ISO 639-1 language code.
          in: query
          name: srclang
          required: false
          type: string
        - description: An ISO 639-1 language code.
          in: query
          name: trglang
          required: false
          type: string
        - description: "Unix time stamp (epoch, in seconds) of Projects with `created_at` greater than or equal to the value."
          in: query
          name: from_time
          required: false
          type: integer
        - description: "Unix time stamp (epoch, in seconds) of Projects with `created_at` less than the value."
          in: query
          name: to_time
          required: false
          type: integer
        - description: A project state (backlog, inProgress, inReview, inQA, done).
          in: query
          name: state
          required: false
          type: string
        - description: A flag that toggles whether to include archived projects in the response (the default is `true`).
          in: query
          name: archived
          required: false
          type: boolean
        - description: A unique Connector identifier.
          in: query
          name: connector_id
          required: false
          type: integer
      responses:
        "200":
          description: A list of Project objects.
          schema:
            title: ProjectResponse
            type: array
            items:
              $ref: "#/definitions/Project"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      summary: Retrieve a Project
      tags:
        - Projects
    put:
      - summary: Update a Project
        description: |
          Update a Project.
        operationId: updateProject
        consumes:
          - application/json
        parameters:
          - in: body
            name: body
            description: The Project resource to update.
            required: true
            schema:
              title: ProjectUpdateResponse
              type: object
              properties:
                id:
                  description: A unique Project identifier.
                  type: integer
                  example: 1234
                name:
                  description: The Project name.
                  type: string
                  example: Walker Percy Essays
                state:
                  description: "The project's state. The possible states are 'backlog', 'inProgress', 'inReview', 'inQA', and 'done'"
                  type: string
                  example: backlog
                due_date:
                  description: The due date. Measured in seconds since the Unix epoch.
                  type: integer
                  example: 1489147692
                archived:
                  description: "True if the project is archived. Otherwise, false."
                  type: boolean
                  example: false
                metadata:
                  description: Metadata associated with a project. This field must be valid JSON.
                  type: object
                  example:
                    connectorType: github
                    notes: example metadata
                sample_review_percentage:
[...]
